@charset "utf-8";
/* common 파일을 굉장히 중요하게 봄 */
/* reset에 다 때려집어넣지 말고 반드시 만들기 */

.fl{float: left;}
.fr{float: right;}
.fn{float: none;}

.tal {text-align: left;}
.tar {text-align: right;}
.tac {text-align: center;}

/* 매번 만드는게 귀찮으면 40까지 만들기 */
/* 포폴 만들 때 만들고 작업하기 */

.none {display: none;}

.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}

.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}

.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}

.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}

.pt5 {pargin-top: 5px;}
.pt10 {pargin-top: 10px;}
.pt15 {pargin-top: 15px;}
.pt20 {pargin-top: 20px;}

.pr5 {pargin-right: 5px;}
.pr10 {pargin-right: 10px;}
.pr15 {pargin-right: 15px;}
.pr20 {pargin-right: 20px;}

.pb5 {pargin-bottom: 5px;}
.pb10 {pargin-bottom: 10px;}
.pb15 {pargin-bottom: 15px;}
.pb20 {pargin-bottom: 20px;}

.pl5 {pargin-left: 5px;}
.pl10 {argin-left: 10px;}
.pl15 {pargin-left: 15px;}
.pl20 {pargin-left: 20px;}

.skip, legend {
  /* 스크립 리더기는 읽지만 우리 눈에는 안 보이는 것 */

  width: 1px;
  height: 1px;
  overflow: hidden;
  /* text-indent:-9999px */
  position: absolute;
  left: -999px;
  line-height: 0;
  display: inline-block;
  /* 인라인이나 인라인 블록으로 해도됌 */
}

#skipMenu {
  position: relative;
  width: 100%;
  z-index: 999;
}

#skipMenu a{
  position: absolute;
  top: -100px;
}
#skipMenu a:hover,
#skipMenu a:active,
#skipMenu a:focus {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
/* font, colorm button ... 모든 페이지에서 반복하여 적용되는 css */

.btn {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 8px 10px;
  text-align: center;
  margin-top: 30px;
}
/* 버튼에서 공통적인거 만듦 
  버튼이 10개일 때 여기서 한번만 바꾸면 됌
  유지보수할 때 편함
  */
  /* whith 값은 안 넣어놓음 - 가로값은 다 다를 수 있기 때문 */

  .clearfix:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }
