/* 나만의 reset 파일 만들어서 가지고 다님*/
@charset "utf-8";
/* 세계 공통 */
          /* "euc-kr" */
          /* 한국 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


/* html 에서 사용한 태그 다 적기 */
html, body, div, header, footer, section, article, nav, ul, li, p, span, strong, h1, h2, h3,
/* 내꺼 만들어서 갖고 다닐 땐 h6까지 작성 */
a, img, form, input, button, label{
  margin: 0;
  padding: 0;
  font-size: 100%;
}
header, footer, section, article, nav {
  display: block;
  /* 인라인을 블록으로 바꿔줄 때 */
  /* 보이지 않는 것을 보이기 해줄 때 */
}

html {
  font-size: 12px;
}

h1, h2, h3 {
  /* px, %, em(나의 부모가 기준이 됌), rem(최상위(html)태그가 기준),  */
  /* letter-spacing: em;
  아주 미세한 자간 조절을 할 때 em 단위 사용하면 좋음
  em은 소수점까지 조절 가능*/
  font-size: 1em;
  /* em이면  h1,h2, h3을 감싼애가 12px이면 
  12 * 1*/
  /* 1.2em  이면 12 * 1.2*/
}

ul, ol {
  list-style: none;
  /* list-style-type:none */
}

img,fieldset {
  border: none;
  /* border: 0 none 
  완전 하위 버전까지 맞추려고 0과 none를 같이 사용하는 경우도 있음
  */
  /* border: 0은 사용 x 2008년 버전
  위에 두개 중에서 하나 사용하기 */
}

a:link,
a:visited {
  text-decoration: none;
  color: #222;
/* #000은 잘 안 씀 */
}
a:hover,
a:active,
a:focus {
  /* 탭으로 선택을하든 눌러서 선택하든 선택 */
  text-decoration: underline;
  color: #07c;
}

.skip {
  width: 1px;
  /* width:0 
  0도 맞고 1도 맞음*/
  height: 1px;
  overflow: hidden;
  /* 가로 세로 영역이 1픽셀인거고, 1픽셀을 넘으면 숨겨줘라
  지정한 컨텐츠의 범위를 넘었을 때,
  overflow:scroll;
  범위를 넘으면 스크롤이 생김
  */
  line-height: 0;
  /* 행간 */
  font-size: 0;
  
  /* position: absolute; */
  /* 나의 부모를 기준으로 위치를 잡을거야 */

  /* left: -9999px; */
  /* 나의 부모한테 -9999떨어져있을거야.
  텍스트 리더기는 읽는데 화면에는 안 보임
  */

  text-indent: -9999px;
  /* 접근성 부분에서는 html이 중요하지 css는 많이 걸릴게 없음 그닥..*/
  /* position: absolute;
  left: -9999px;
  이랑 같음 */
}
.clearfix:after {
  /* float해제하는 방법, 각각 뭐가 있는지 다 말로 나열해야됌 (면접 때 질문 많이  함)*/
  /* float display:flex를 대체하는 것  
    레이아웃할 때 사용
  */
  content: '';
  display: block;
  clear: both;
}

#skipNavi {
  width: 100%;
  position: relative;
  /* 부모 */
}
#skipNavi a {
  position: absolute;
  /* 자식 */
  top: -100px;
  /* 맨 위로 가서  안 보이게 해놨다가 */
  text-decoration: none;
}
#skipNavi a:hover,
#skipNavi a:active,
#skipNavi a:focus {
  position: absolute;
  top: 0;
  /* (tab키 누르게 되면)선택을 하게 되면 원래 있던 자리로 돌아와서 다시 보이게 됌 */
  /* 주메뉴 바로 가기(#gnb)는 매 페이지 마다 반복됌,
  반복되는 구간을 날려주는 */
  width: 100%;
  display: block;
  /* a태그는 인라인 요소라서 크기값을 안 가짐 */
  background-color: #222;
  color: #fff;
  text-align: center;
  /* 텍스트 가운데 정렬 */
  padding: 10px 0;
  text-align: center;
  /* 텍스트 가운데 정렬 */
  padding: 10px 0;
}

