input[id="menuicon"] {
  display: none;
}
input[id="menuicon"] + label {
  display: block;
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
input[id="menuicon"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: #000;
  transition: all 0.5s;
}
label[for="menuicon"] span:nth-child(1) {
  top: 0;
}
label[for="menuicon"] span:nth-child(2) {
  top: 50%;
  /* transform: translateY(-50%); */
}
label[for="menuicon"] span:nth-child(3) {
  top: 100%;
}

div[class="sidebar"] {
  width: 300px;
  height: 100%;
  background: #222;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 1;
  transition: all .5s;
}
input[id="menuicon"]:checked + label + div {
  right: 0;
}
input[id="menuicon"] + label {
  display: block;
  width: 60px;
  height: 50px;
  position: fixed;
  left: 0;
  top: calc(50% - 25px);
  transition: all 0.5s;
  cursor: pointer;
}
/* input[id="menuicon"]:checked + label {
  z-index: 2;
  right: 300px;
} */